.card_white{
  background-color: white;
  padding: 10px 0;
  margin: 10px 0;
  position: relative;
  border: 1px solid $gray-light;
  background-size: cover;
  background-position: center;
  font-weight: normal;
  font-size: 20px;
}
